<?xml version="1.0" encoding="utf-8"?>
<!--
Start of user code reserved-for:AndroidProject001
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.uisleandro.store"
>

<!-- build_android_core_manifest() -->

	<!-- Start of user code protected -->

	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
	</application>

<!--
reserved-for:AndroidProject001
End of user code
-->
<!--
Start of user code reserved-for:AndroidSqliteDatabaseSingle001
-->

<!--
reserved-for:AndroidSqliteDatabaseSingle001
End of user code
-->
<!--
Start of user code reserved-for:AndroidProject002
-->
</manifest>
<!--
reserved-for:AndroidProject002
End of user code
-->
